/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.55;
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Additions Below */
:root,
* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* style starts here */
body {
  background-color: hsl(210, 46%, 95%);
  width: 100%;
  height: 100vh;
}

.container {
  padding: 7.5rem 2.4rem;
  max-width: 80rem;
}

article.stats-card {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

/* Image */
section.stats-card__img-container img {
  display: inline-block;
   width: 100%; 
   height: 20rem;
   object-fit: cover;
}

/* Info */
section.stats-card__info {
  padding: 2.7rem 3rem 1.6rem 3rem;
}

.info__container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.info__container h1 {
  color: hsl(217, 19%, 35%);
  font-size: 1.6rem;
  opacity: 0.8;
}

.info__container p {
  color: hsl(214, 17%, 51%);
  font-size: 1.38rem;
  opacity: 0.77;
}

.info__avatar {
  display: flex;
  align-items: center;
  margin-top: 1.4rem;
  color: hsl(217, 19%, 35%);
  position: relative;
}

.info__avatar img.avatar {
  display: inline-block;
  width: 14.5%;
  border-radius: 50%;
}

.info__avatar .avatar__detail {
  margin-left: 1.5rem;
}

.info__avatar .avatar__detail h4.detail__name {
  font-size: 1.35rem;
  opacity: 0.8;
}

.info__avatar .avatar__detail h4.detail__date {
  color: hsl(212, 23%, 69%);
  opacity: 0.7;
  font-size: 1.3rem;
}

.info__avatar button {
  background-color: hsl(210, 46%, 95%);
  display: inline-block;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  position: absolute;
  top: 21%;
  left: 88.7%;
  z-index: 999;
}

section.stats-card__share {
  background-color: hsl(217, 19%, 35%);
  display: flex;
  height: 6rem;
  align-items: center;
  position: absolute;
  width: 87.5%;
  border-radius: 0 0 1rem 1rem;
  top: 78.5%;
  opacity: 0;
}

section.stats-card__share.show {
    opacity: 1;
}

section.stats-card__share.show button {
    z-index: 999;
}

section.stats-card__share h4 {
  margin: 0 1.7rem 0 3.5rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: hsl(212, 23%, 69%);
}

section.stats-card__share img:nth-child(3) {
  margin: 0 1.5rem;
}

section.stats-card__share button {
  margin-left: 5.7rem;
  background-color: hsl(214, 17%, 51%);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

/* media query */
@media screen and (min-width: 1440px) {
  body {
    display: grid;
    place-items: center;
  }

  article.stats-card {
    flex-direction: row;
    position: relative;
  }

  section.stats-card__img-container {
    width: 37%;
  }

  section.stats-card__img-container img {
    border-radius: 1rem 0 0 1rem;
    height: 29.4rem;
  }

  section.stats-card__info {
    width: 58%;
    padding: 3rem;
  }

  .info__container h1 {
    font-size: 2rem;
  }

  .info__avatar img.avatar {
    width: 10%;
  }

  .info__avatar button {
      left: 98%;
      top: 5%;
  }

  section.stats-card__share {
    width: 35%;
    border-radius: 1rem;
    position: absolute;
    left: 76%;
    top: 47%;
  }

  section.stats-card__share button {
      position: absolute;
      top: 150%;
      right: 48%;
      width: 3.2rem;
      height: 3.2rem;
  }

  section.stats-card__share div.triangle {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.4rem 1.4rem 0 1.4rem;
    border-color: hsl(217, 19%, 35%) transparent transparent;
    position: absolute;
    bottom: -23%;
    right: 49%;
  }
}
